{% extends "@CoreFramework//Templates//layout.html.twig" %}

{% block title %}Application Dashboard{% endblock %}

{% block templateCSS %}
    <style>
		.uv-mob-aside {
			display: none;
		}
    </style>
{% endblock %}

{% block pageContent %}
	<div class="uv-inner-section">
		<div class="uv-view" style="padding-left: 20px;">
			<!-- @TODO: add components to manage tabs dynamically -->
            <div id="applicationDashboard" class="uv-app-screen">
				{{ include(application.metadata.getDashboardTemplate()) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block footer %}
	{{ parent() }}
{% endblock %}