<template id="shopify-dashboard-loading-screen-template">
    <div class="shopify-dashboard-loader">
        <div class="loader">
            <div class="cp-spinner cp-balls"></div>

            <% if (text != '') { %>
                <p class="text"><%- text %></p>
            <% } %>
        </div>
    </div>
</template>

<template id="shopify-dashboard-welcome-screen-template">
    <div class="uv-app-splash" style="text-align: center;">
        <img class="uv-app-splash-image" src="{{ asset('bundles/extensionframework/extensions/akshay/shopify/assets/ecommerce-splash-shopify.png') }}" alt="Shopify ECommerce">

        <h2>Shopify ECommerce</h2>
        <p>You haven't added any Shopify channel yet, Integrate your Shopify Seller Account as a channel to sync Customers and Orders to uvdesk</p>
        <a class="uv-btn uv-app-shopify-cta-setup">Setup</a>
    </div>
</template>

<template id="shopify-dashboard-manage-stores-template">
    <div id="uv-app-shopify-header" class="uv-app-shopify-header">
        <h2>Manage Configurations</h2>

        <ul>
            <li><button class="uv-btn-action shopify-button">Add Store</button></li>
        </ul>
    </div>

    <div id="uv-app-shopify-dashboard" class="uv-app-shopify-dashboard">
        <div id="uv-app-shopify-stores" class="shopify-store-listing">
            <% _.each(stores, function (store) { %>
                <div class="shopify-store-item">
                    <p style="line-height: 1.4em; margin: unset;">
                        <span style="font-weight: 700; text-transform: uppercase;"><%- store.attributes.domain %></span>
                    </p>

                    <ul class="shopify-store-item-buttons">
                        <li><button>Edit</button></li>
                        <li><button class="delete">Delete</button></li>
                    </ul>
                </div>
            <% }) %>
        </div>
    </div>
</template>