<script type="text/template" id="channel-list-template">
    <div class="uv-app-list-channels">
        <div class="uv-app-list-action">
            <div class="uv-app-list-action-lt"><h1>Added Channels</h1></div>
            <div class="uv-app-list-action-rt"><a class="uv-btn-action add-app-channel" href="#">New Channel</a></div>
        </div>

        <div id="channel-list"></div>
    </div>
</script>