<div class="uv-app-splash" style="text-align: center;">
    <img class="uv-app-splash-image" src="{{ asset('bundles/uvdeskextension/extensions/uvdesk/shopify/assets/ecommerce-splash-shopify.png') }}" alt="Shopify ECommerce">

    <h2>Shopify ECommerce</h2>
    <p>You haven't added any Shopify channel yet, Integrate your Shopify Seller Account as a channel to sync Customers and Orders to uvdesk</p>
    <a class="uv-btn add-app-channel">New Channel</a>
</div>